@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: red;
}
.navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: #fff;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.navbar__logo {
  font-weight: bold;
}
.navbar__list {
  list-style: none;
  display: flex;
}
.navbar__item {
  margin-right: 20px;
}
.navbar__item a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s;
  &:hover {
    color: #00d9ff;
  }
}
.mobile-menu {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
.navbar__logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
}
.navbar__logo i {
  animation: rotate 10s infinite;
  transition: color 0.3s ease-in-out;
  filter: drop-shadow(0 0 0.75rem #48ff00);
}
@keyframes rotate {
  0% {
    color: rgb(28, 184, 28);
  }
  50% {
    color: rgb(55, 221, 55);
    filter: drop-shadow(2 4 0.75rem #48ff00);
  }
  100% {
    color: rgb(49, 246, 0);
    filter: drop-shadow(2 10 0.75rem #00ff3c);
  }
}
.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
  .navbar__list {
    display: none;
  }
  .navbar__logo {
    text-align: center;
  }
}
.mobile-menu {
  background-color: black;
  padding: 15px 20px;
  box-shadow: 2px 2px 4px gray;
}
